body {
  text-align: center;
  margin-top: 50px;
  font-family: "Courier";
  background-color: #f0e6ff;
  color: black;
}



#IMY {
  font-size: 40px;
  color: rgb(0, 0, 0)
}




p {
  font-size: 17px;
  margin-top: 40px;
  text-align: center; /* Align the text to the left */
  margin-left: 20px; /* Adjust the left margin */
}


#message {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}


.answerButton {
  padding: 10px 20px;
  font-size: 23px;
  cursor: pointer;
  margin: 60px auto 20px; /* Center horizontally and move up */
  font-family: "Courier", monospace;
  background-color: #ffe3e1;
  color: rgb(37, 37, 37);
  border-radius: 12px;
  border: 2px solid #ffe3e1;
  box-shadow: 1px 1px 2px rgb(37, 37, 37);
  transition: 0.3s;
  display: block;
  width: fit-content;
}

.answerButton:hover {
  background-color: rgb(37, 37, 37);
  color: #ffe3e1;
  border: 2px solid rgb(37, 37, 37);
  box-shadow: 1px 1px 2px #ffe3e1;
}

